<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="Testing Suite" >
  <test name="Testing Test"   >
  
 <!-- 
  <groups>
  
  <run>
  
  <exclude name="second" />
  
  </run>
  
  </groups>
  
   -->
   
   <parameter name="userNameData" value="test1234@gmail.com"/>
  
  <classes>
  
  <class name= "com.selenium.trainingday9.ParametersTest"/>
  
  
  <!-- 
  <class name= "com.selenium.trainingday6.AnnotationsConcept"/>
  <class name="com.selenium.trainingday6.GroupingConcept"/>
  <class name="com.selenium.trainingday6.ValidationConcept"/>
  
   -->
  
  </classes>
    
 </test>
</suite>
